.Control{
    width: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #1E70BF;
    border-radius: 15px;
    margin: 15px;
}

.Control h3 {
    font-size: 16px;
}