@import url('https://fonts.googleapis.com/css?family=Niramit:300,400|Roboto:400,700');

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background: #282A37
}

*{
  box-sizing: border-box;
}

h1,h2,h3,caption{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
}

article,p,label,input,textarea,button,li,th,td{
  font-family: 'Niramit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

input[type="submit"], a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
}