.Button{
    border: 2px solid #aab2d4;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: 10x auto;
    outline: none;
    background:#1e70bf;
    transition: all 0.3s ease;
}
.Button:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}